body {
    font-family: Arial, sans-serif;
    /* Using the default font */
    margin: 0;
    padding: 12px 20px 16px 20px;
    width: 240px;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: left;
    color: #5e5e5e;
    font-weight: 600;
}

.section {
    margin-bottom: 12px;
    background-color: #fff;
    padding: 16px 16px 16px 16px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    /* Added box shadow for demarcation */
}

.section-title {
    font-size: 10px;
    margin-bottom: 12px;
    color: #787878;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 0 2px;
}

.setting label {
    font-size: 14px;
    color: #333;
}

.setting input[type="checkbox"] {
    transform: scale(1.2);
}

.setting input[type="text"] {
    width: 30px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    transition: border-color 0.2s ease-in-out;
}

.setting input[type="text"]:focus {
    border-color: #007BFF;
    outline: none;
}

footer {
    text-align: center;
    font-size: 11px;
    color: #888;
    margin-top: 24px;
    border-radius: 18px;
}